.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.product-card {
  box-shadow: 2px 2px yellow;
  flex: 0 1 200px;
  margin: 20px;
}
.product-info{
  height: 230px;
}
.product-image{
  margin: 0;
  height: 190px;
  width: 200px;
  background-size: cover;
  background-position:  center;
  display: flex;
}
.product-title{
  align-self: flex-end;
  text-align:center;
  width: 100%;
  padding: 5px;
  background-color: #55555560;
  color: white;
}
.product-price{
  display:flex;
  justify-content: space-around;
}
.actions{
  display: flex;
  justify-content: space-around;
}